@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Poppins:wght@400;600;700&display=swap');

:root{
    --MainColor: #26af79;
}

*{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--MainColor);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--MainColor);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--MainColor);
    cursor: pointer;
    font-size: 1.8rem;
}

.btn:hover{
    background: rgba(0, 0, 0,.1);
    color: var(--MainColor);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #163A5F;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color: var(--MainColor);
}

header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 1rem;
}

header .navbar a:hover{
    color: var(--MainColor);
}

header .icon i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icon i:hover{
    color: var(--MainColor);
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: #163A5F;
    border-top: 0.1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #163A5F;
    font-size: 1.7rem;
    border-radius: 0.6rem;
}

header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: var(--MainColor);
}

.login-form-container{
    position: fixed;
    top: 120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 2.8rem;
    color: var(--MainColor);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .input-box{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}

.login-form-container form .input-box:focus{
    border-color: var(--MainColor);
}

.login-form-container form #rememberMe{
    margin: 2rem 0;
}

.login-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #555;
}

.login-form-container form p a{
    color: var(--MainColor);
}

.login-form-container form p a:hover{
    color: #163A5F;
    text-decoration: underline;
}

.login-form-container #form-closeBtn{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}
