@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Poppins:wght@400;600;700&display=swap');

:root{
    --MainColor: #ff8a1a;
    --SecondaryColor: #448d98;
}

*{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--MainColor);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

/*Section*/
section{
    padding: 20px 9%;
}

/*Button*/

.btn{
    display: inline-block;
    margin-top: 10px;
    background: var(--SecondaryColor);
    color: #fff;
    padding: 8px 30px;
    border: 2px solid var(--SecondaryColor);
    cursor: pointer;
    font-size: 18px;
}

.btn:hover{
    background: var(--MainColor);
    color: #fff;
    border: 2px solid var(--MainColor);
}

/*NavBar Section*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--SecondaryColor);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
}

header .logo{
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color: var(--MainColor);
}

header .navbar a{
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

header .navbar a:hover{
    color: var(--MainColor);
}

header .icon i{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

header .icon i:hover{
    color: var(--MainColor);
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 15px 20px;
    background: var(--SecondaryColor);
    border-top: 10px solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 10px;
    text-transform: none;
    color: var(--SecondaryColor);
    font-size: 17px;
    border-radius: 6px;
}

header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-left: 15px;
}

header .search-bar-container label:hover{
    color: var(--MainColor);
}

/*Login Form Container*/

.login-form-container{
    position: fixed;
    top: 120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}

.login-form-container form{
    margin: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    background: #fff;
    width: 500px;
}

.login-form-container form h3{
    font-size: 28px;
    color: var(--SecondaryColor);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.login-form-container form .input-box{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #333;
    margin: 6px 0;
    border: 1px solid rgba(0,0,0,.3);
    text-transform: none;
}

.login-form-container form .input-box:focus{
    border-color: var(--MainColor);
}

.login-form-container form #rememberMe{
    margin: 20px 0;
}

.login-form-container form label{
    font-size: 15px;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: 5px 0;
    font-size: 15px;
    color: #555;
}

.login-form-container form p a{
    color: var(--SecondaryColor);
}

.login-form-container form p a:hover{
    color: var(--MainColor);
    text-decoration: underline;
}

.login-form-container #form-closeBtn{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#menu{
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 12px;
    cursor: pointer;
    display: none;
}

/*Home Section*/

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 5px rgba(0,0,0,.2);
}

.home .content p{
    font-size: 25px;
    color: #fff;
    padding: 25px 0;
}

.home .img-container img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 10px;
    border-radius: 50px;
    background: rgba(0,0,0,.6);
    position: relative;
    top: 100px;
}

.home .controls .img-btn{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 5px;
}

.home .controls .img-btn.active{
    background: var(--MainColor);
}

.home .controls .img-btn:hover{
    background: var(--SecondaryColor);
}

/*------------------------------------------------------------------------------------*/


/*Media Queries*/

/*Responsive for 1200px width Screens*/

@media (max-width: 1200px){

    header .logo{
        font-size: 20px;
    }

    header .navbar a{
        font-size: 15px;
    }

    header .icon i{
        font-size: 20px;
    }

    header .search-bar-container #search-bar{
        font-size: 15px;
    }

    header .search-bar-container label{
        font-size: 20px;
    }
}

/*Responsive for 991px width Screens*/

@media (max-width: 991px){
    header{
        padding: 20px;
    }

    section{
        padding: 20px;
    }
}

/*Responsive for 991px width Screens*/

@media (max-width: 768px){
    #menu{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--SecondaryColor);
        border-top: 2px solid rgba(255,255,255,.2);
        padding: 10px 20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: 5px;
        padding: 15px;
        margin: 15px 0;
        background: #3a7581;
    }
}

/*Responsive for 450px width Screens*/

@media (max-width: 450px){

    #menu{
        font-size: 20px;
        padding: 3px 5px;
    }
}