@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Poppins:wght@400;600;700&display=swap');

:root{
    --MainColor: #ff8a1a;
    --SecondaryColor: #448d98;
}

*{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--MainColor);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

/*Section*/
section{
    padding: 20px 9%;
}

/*Header*/

.header{
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
    color: var(--MainColor);
    letter-spacing: 10px;
    border-bottom: 1px solid var(--SecondaryColor);
    border-top: 1px solid var(--SecondaryColor);
}


/*Button*/

.btn{
    display: inline-block;
    margin-top: 10px;
    background: var(--SecondaryColor);
    color: #fff;
    padding: 8px 30px;
    border: 2px solid var(--SecondaryColor);
    cursor: pointer;
    font-size: 18px;
}

.btn:hover{
    background: var(--MainColor);
    color: #fff;
    border: 2px solid var(--MainColor);
}

/*NavBar Section*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--SecondaryColor);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
}

header .logo{
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color: var(--MainColor);
}

header .navbar a{
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

header .navbar a:hover{
    color: var(--MainColor);
}

header .icon i{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

header .icon i:hover{
    color: var(--MainColor);
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 15px 20px;
    background: var(--SecondaryColor);
    border-top: 10px solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 10px;
    text-transform: none;
    color: var(--SecondaryColor);
    font-size: 17px;
    border-radius: 6px;
}

header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-left: 15px;
}

header .search-bar-container label:hover{
    color: var(--MainColor);
}

/*Login Form Container*/

.login-form-container{
    position: fixed;
    top: 120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}

.login-form-container form{
    margin: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    background: #fff;
    width: 500px;
}

.login-form-container form h3{
    font-size: 28px;
    color: var(--SecondaryColor);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.login-form-container form .input-box{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #333;
    margin: 6px 0;
    border: 1px solid rgba(0,0,0,.3);
    text-transform: none;
}

.login-form-container form .input-box:focus{
    border-color: var(--MainColor);
}

.login-form-container form #rememberMe{
    margin: 20px 0;
}

.login-form-container form label{
    font-size: 15px;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: 5px 0;
    font-size: 15px;
    color: #555;
}

.login-form-container form p a{
    color: var(--SecondaryColor);
}

.login-form-container form p a:hover{
    color: var(--MainColor);
    text-decoration: underline;
}

.login-form-container #form-closeBtn{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#menu{
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 12px;
    cursor: pointer;
    display: none;
}

/*Home Section*/

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 5px rgba(0,0,0,.2);
}

.home .content p{
    font-size: 25px;
    color: #fff;
    padding: 25px 0;
}

.home .img-container img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 10px;
    border-radius: 50px;
    background: rgba(0,0,0,.6);
    position: relative;
    top: 100px;
}

.home .controls .img-btn{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 5px;
}

.home .controls .img-btn.active{
    background: var(--MainColor);
}

.home .controls .img-btn:hover{
    background: var(--SecondaryColor);
}

/*Booking Section*/

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.book .row .img{
    flex: 1 1 400px;
}

.book .row .img img{
    width: 100%;
    padding-top: 50px;
}

.book .row form{
    flex: 1 1 400px;
    padding: 20px;
    border-radius: 5px;
}

.book .row form .inputBox{
    padding: 5px 0;
}

.book .row form .inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    color: #666;
    font-size: 15px;
    text-transform: none;
}

.book .row form .inputBox h3{
    font-size: 18px;
    padding: 10px 0;
    color: #444;
}

/*Packages Section*/

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-top: 30px;
}

.packages .box-container .box{
    flex: 1 1 300px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.packages .box-container .box img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box .content{
    padding: 20px;
}

.packages .box-container .box .content h3{
    font-size: 20px;
    color: #222;
}

.packages .box-container .box .content h3 i{
    color: var(--SecondaryColor);
}

.packages .box-container .box .content p{
    font-size: 16px;
    color: #555;
    padding: 10px 0;
    text-align: justify;
}

.packages .box-container .box .content .star i{
    font-size: 18px;
    color: #ffb700;
    padding-top: 5px;
}

.packages .box-container .box .content .prices{
    font-size: 20px;
    padding-top: 15px;
    color: #333;
    padding-bottom: 10px;
}

.packages .box-container .box .content .prices span{
    font-size: 17px;
    color: #555;
    text-decoration: line-through;
}

/*Services Section*/

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-top: 50px;
}

.services .box-container .box{
    flex: 10 10 300px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.services .box-container .box:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
    transform: scale(1.05);
}

.services .box-container .box i{
    padding: 10px;
    font-size: 50px;
    color: var(--MainColor);
}

.services .box-container .box h3{
    font-size: 20px;
    color: #222;
}

.services .box-container .box p{
    font-size: 16px;
    color: #555;
    padding: 10px 0;
}


/*Gallery Section*/

.gallery .box-container{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.gallery .box-container .box{
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 5px;
    flex: 10 10 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    height: 250px;
    position: relative;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.6);
    padding: 20px;
    padding-top: 50px;
}

.gallery .box-container .box:hover .content{
    top: 0;
}

.gallery .box-container .box .content h3{
    font-size: 25px;
    color: var(--MainColor);
}

.gallery .box-container .box .content p{
    font-size: 15px;
    color: #fff;
    padding: 5px;
}

/*Review Section*/

.review .box-container{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.review .box-container .box{
    flex: 10 10 300px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
    cursor: pointer;
    background: rgba(68, 141, 152, 0.85);
    transition: all 0.2s ease-in-out;
}

.review .box-container .box:hover{
    transform: scale(1.05);
}

.review .box-container .box img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.review .box-container .box .fa-quote-right{
    font-size: 20px;
    color: #fff;
}

.review .box-container .box .content h3{
    font-size: 20px;
    color: var(--MainColor);
    padding: 5px;
}

.review .box-container .box .content p{
    font-size: 15px;
    color: #fff;
    padding: 5px;
}


.review .box-container .box .content i{
    font-size: 15px;
    color: #555;
    padding: 20px 5px 20px 5px;
}

.review .box-container .box .content .checked{
    color: #ffb700;
}

/*Contact Section*/

.contact .contact-box{
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    text-align: center;
    gap: 20px;
}

.contact .contact-box .contact-map{
    width: 100%;
    height: auto;
    flex: 10 10 300px;
}

.contact .contact-box .contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact .contact-box .contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 20px;
}

.contact .contact-box .contact-form h3{
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--MainColor);
}

.contact .contact-box .contact-form .contact-form-text{
    width: 100%;
    height: 40px;
    outline: none;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.1);
    color: #666;
    font-size: 15px;
    text-transform: none;
}

.contact .contact-box .contact-form .contact-form-textarea{
    width: 100%;
    height: 120px;
    outline: none;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.1);
    color: #666;
    font-size: 15px;
    text-transform: none;
}

.contact .social-icon{
    display: flex;
    flex-wrap: wrap;
}

.contact .social-icon i{
    font-size: 30px;
    padding: 20px 20px;
    margin: auto;
    color: var(--SecondaryColor);
    transition: all 0.2s ease-in-out;
}

.contact .social-icon i:hover{
    transform: scale(1.1);
    color: var(--MainColor);
}




/*------------------------------------------------------------------------------------*/


/*Media Queries*/

/*Responsive for 1200px width Screens*/

@media (max-width: 1200px){

    header .logo{
        font-size: 20px;
    }

    header .navbar a{
        font-size: 15px;
    }

    header .icon i{
        font-size: 20px;
    }

    header .search-bar-container #search-bar{
        font-size: 15px;
    }

    header .search-bar-container label{
        font-size: 20px;
    }
}

/*Responsive for 991px width Screens*/

@media (max-width: 991px){
    header{
        padding: 20px;
    }

    section{
        padding: 20px;
    }
}

/*Responsive for 991px width Screens*/

@media (max-width: 768px){
    #menu{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--SecondaryColor);
        border-top: 2px solid rgba(255,255,255,.2);
        padding: 10px 20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: 5px;
        padding: 15px;
        margin: 15px 0;
        background: #3a7581;
    }
}

/*Responsive for 450px width Screens*/

@media (max-width: 450px){

    .btn{
        padding: 8px 25px;
        font-size: 15px;
    }

    #menu{
        font-size: 20px;
        padding: 3px 5px;
    }

    .home .content h3{
        font-size: 40px;
    }

    .home .content p{
        font-size: 20px;
    }

    .header{
        font-size: 25px;
    }
}